<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body style="background-color: black; color: white">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4 ">

		<div class="home">
			<div class="home-intro hidden show">
				<div class="content">
					<div class="badge  text-wrap"
						style="width: 25rem; color:black; text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; background-image: linear-gradient(to right top, #0cda78, #00e071, #00e668, #00ec5e, #00f252, #00f565, #00f876, #00fb86, #00faac, #00f7cb, #00f3e1, #47edef);">
						<h3><span>✌🏻</span> Hola! Soy Alex Aquino</h3>
						<br>
					</div>
					<div>
						<h4 style=" text-align: center;
						margin-bottom: 2rem;
						font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
						font-size: 3.9rem;
						text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
												">Un <span style="color: #14e956;">Desarrollador de Software Jr. </span>
						</h4>
					</div>
					<div class="content-secondary">
						<h4>Soy un entusiasta desarrollador de software con una sólida
							formación académica y habilidades técnicas en programación
							backend y un poco de frontend. Mi objetivo principal es iniciar mi
							carrera en el sector y aplicar mis
							conocimientos en entornos prácticos y obtener más experiencia
						</h4>
					</div>
				</div>
				<!--Grafico -->

				<div th:replace="/layout/layout :: grafico"></div>
				<!-- fin graficos-->
			</div>

			<!--  herramientas-->
			<div>
				<div>
					<h2 style=" text-align: center;
				margin-bottom: 2rem;
    			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    			font-size: 2.9rem;
   				text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
			"><span style="color: #14e956;">Herramientas</span>
					</h2>

					<br>
				</div>


				<div class="container  " style="border-radius: 20px;">
					<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 " style="border-radius: 20px;">

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/python/python-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								Python
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/java/java-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								Java
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/mongodb/mongodb-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								MongoDB
							</div>
						</div>
						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/oracle/oracle-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								<span>Oracle </span>
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/mysql/mysql-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								<span> MySQL</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<BR>


				<div class="container  " style="border-radius: 20px;">
					<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 " style="border-radius: 20px;">

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/css3/css3-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								CSS
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/javascript/javascript-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								JavaScript
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/html5/html5-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								HTML
							</div>
						</div>
						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://www.thymeleaf.org/images/thymeleaf.png" alt="" width="50" height="50"
									class="d-inline-block align-text-top">
								<span>Thymeleaf </span>
							</div>
						</div>

						<div class="col " style="background-color: black; border-radius: 10px;">
							<div class="p-3 border bg-dark" style="border-radius: 20px;">
								<img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/jira/jira-original.svg"
									alt="" width="50" height="50" class="d-inline-block align-text-top">
								<span> Jira</span>
							</div>
						</div>

					</div>
				</div>

				<br>
			</div>
			<!-- fin herramientas-->
			<br>
			<!-- proyectos -->
			<div>
				<h2 style=" text-align: center;
				margin-bottom: 2rem;
    			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    			font-size: 2.9rem;
   				text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
			"><span style="color: #14e956;">Proyectos realizados</span>
				</h2>

				<br>


			</div>
			<!-- fin proyecto-->
			<!-- proyetco 1-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark" style="border-radius: 40px;">
        <img  src="https://github.com/AlexAquinoMiranda/NexusApp/blob/main/app/src/main/res/drawable/logonexus.png?raw=true" class="card-img-top" alt="Imagen del Proyecto 1">
       <br> <br> <br>
        <div class="card-body">
          <h5 class="card-title">Red Social</h5>
          <p class="card-text">Una Red social desarrollada en android studio con java</p>
          <a href="https://github.com/AlexAquinoMiranda/NexusApp" class="btn btn-lg btn-outline-success">Ver proyecto</a>
        </div>
      </div>
    </div>
    
    <!-- proyect 2-->
    <div class="col-md-6 ">
      <div class="card bg-dark " style="border-radius: 40px;" >
        <img src="https://github.com/AlexAquinoMiranda/AlbumMundialQtar_22/blob/main/app/src/main/res/drawable/copadomundo.jpg?raw=true" class="card-img-top" alt="Imagen del Proyecto 2" style="border-radius: 40px;">
        <div class="card-body">
          <h5 class="card-title">Álbum mundial Qtar 22</h5>
          <p class="card-text">Álbum de jugadores de fútbol obtenidos de manera aleatoria.</p>
          <a href="https://github.com/AlexAquinoMiranda/AlbumMundialQtar_22" class="btn btn-lg btn-outline-success">Ver proyecto</a>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark" style="border-radius: 40px;">
        <img  src="https://images-eu.ssl-images-amazon.com/images/I/71MfDwlFxuL.png" class="card-img-top"  style="border-radius: 40px;" alt="Imagen del Proyecto 1">
        <div class="card-body">
          <h5 class="card-title">Bloc de notas</h5>
          <p class="card-text">bloc de notas creado con python y pyside6.</p>
          <a href="https://github.com/AlexAquinoMiranda/CreacionBlocDeNotas" class="btn btn-lg btn-outline-success">Ver proyecto</a>
        </div>
      </div>
    </div>
    
    <!-- proyect 2-->
    <div class="col-md-6 ">
      <div class="card bg-dark " style="border-radius: 40px;" >
        <img src="https://logwork.com/blog/wp-content/uploads/2019/06/best-online-invoicing-software-2.png" class="card-img-top" style="border-radius: 40px;" alt="Imagen del Proyecto 2">
        <div class="card-body">
          <h5 class="card-title">Facturación para clientes</h5>
          <p class="card-text">Desarrollado con java y spring boot </p>
          <a href="https://github.com/AlexAquinoMiranda/Auto-Factura" class="btn btn-lg btn-outline-success">Ver proyecto</a>
        </div>
      </div>
    </div>
  </div>
</div>

		</div>
		<!--fin prueba -->
		<br><br>		<br><br>

		<div>
					<h2 style=" text-align: center;
				margin-bottom: 2rem;
    			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    			font-size: 2.9rem;
   				text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
			"><span style="color: #14e956;">Contacto</span>
					</h2>

					<br>
				</div>
				
				
		<div th:replace="layout/layout :: contactos"></div>
		<br>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>